<!-- <section class="listing">
  <img class="listing-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}">
  <h2 class="listing-heading">{{ housingLocation.name }}</h2>
  <p class="listing-location"><i class="fa-sharp fa-solid fa-location-dot icona"></i> {{ housingLocation.city}}, {{housingLocation.state }}</p>
  <p class="listing-metri"><i class="fa-solid fa-house icona"></i> {{ housingLocation.metri}} m2, {{housingLocation.locali }} locali</p>
  <a>Contatta</a>

  
</section> -->


<section class="listing">
  <img class="listing-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}">
  <h2 class="listing-heading">{{ housingLocation.name }}</h2>
  <p class="listing-location">{{ housingLocation.city}}, {{housingLocation.state }}</p>
  <a [routerLink]="['/details', housingLocation.id]">Learn More</a>
  <span class="cuore"(click)="toggleCuore()">
    <i [class]="cuoreIcon"></i>
  </span>
</section>