html,
body {
  background-color: var(--color-body);
  color: #fff;
  min-height: 100vh;
}

header {
  background-color: var(--colore-componenti);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
  margin: 30px 70px;
  padding: var(--content-padding);
}

.brand-logo {
  height: 40px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
  padding: var(--content-padding);
  background-color: var(--colore-componenti);
  margin: 30px 70px;
  min-height: 660px;
}